html{
    box-sizing: border-box; 
    scroll-behavior: smooth;
}  
*{
margin: 0;
padding: 0;   
box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

/*Main colors*/
:root {
    --mainColor-color: #00205C;
    --delfColor-color: #A7C2D5;
    --darkBabyBlue-color: #306598;
    --BronzeColor-color: #857650;
    --backgroundDarkGrey-color: #bfbabe;
    --backgroundLightGrey-color: #c4c4c4;
    --altbackgroundDarkGrey-color: #262224;
    --accentDarkBrownish-color: #1F0000;
    --infocardBlue-color: rgba(87, 126, 162, 0.5);
}
/*Typography */

  

.nunito-sans {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
  .acme-regular {
      font-family: "Acme", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  .alata-regular {
      font-family: "Alata", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    
    body{
        font-size: 16px;
        margin: 0 auto;
        background-color: var(--backgroundDarkGrey-color);
        background-image: url(https://milen714.github.io/web-markup/Img/bg-music.png);

    } 
    h1, h2 , h3{
        margin: 0;
    }
    p{
        font-size: 16px;
        margin-bottom: 0.85em;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 700;
        color: var(--mainColor-color);
        line-height: 1.5;
        word-spacing: 3px;
        text-indent: 20px;

        
    }
    p::first-letter{
        font-size: 1.2em;
    }
    .hyperLinks{
        text-decoration: none;
        font-style: italic;
    }
    .hyperLinks:visited{
        text-decoration: underline;
        color: black;
    }
    h1{
        font-size: 40px;
        font-family: "Acme", sans-serif;
        color: var(--mainColor-color);
        letter-spacing: 2px;
        text-transform: uppercase;
    
    }
    h2{
        font-size: 2.1875em;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    h3{
        font-family: "Nunito Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        color: var(--mainColor-color);
    }
    em{
        font-style: italic;
    }

.logo{
    padding: 0.7em 0 0.7em;
    background-color: white;
}
.logoToHome{
    text-decoration: none;
}
header{
    padding:  1em 0 2em;
    
}
.logo{
    display: flex;
    justify-content: center;
   
    
}
.logo img{
    width: 60px;
}
.navbartop{    
    background-color: var(--mainColor-color);   
}


nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 20px;
}
li{
    padding: 10px 0 10px;
}
li a{
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    color: white;
    font-family: "Alata", sans-serif;
    font-weight: 700;
}
.shoppingButton:before{
    content:"sas";
    color: transparent;
    padding-right: 1px;
    padding-bottom: 3px;
    width: 24px;
    height: 24px;
    margin-right: 3px;
    background: no-repeat;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/NavbarShopIcon.svg);
}
.homeButton:before{
    content:"sa";
    padding-right: 3px;
    padding-bottom: 3px;
    color: transparent;
    width: 24px;
    height: 24px;
    background: no-repeat;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/NavBarHomeIcon.svg);
}
.safetyButton::before{
    content:"sas";
    color: transparent;
    background: no-repeat;
    padding-bottom: 3px;
    width: 24px;
    height: 24px;
    margin-right: 3px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/NavBarSafetyIcon.svg);
}
.rulesButton::before{
    content:"sas";
    color: transparent;
    width: 24px;
    height: 24px;
    padding-bottom: 2px;
    background: no-repeat;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/NavBarRulesIcon.svg)
}
.repairsButton::before{
    content:"sas";
    color: transparent;
    margin-right: 3px;
    background: no-repeat;
    padding-bottom: 4px;
    width: 24px;
    height: 25px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/NavBarDIWhyIcon.svg)
}
li a:hover, :focus, #activeNav, #activeFooter{
    background-color: var(--BronzeColor-color);
    backdrop-filter: blur(10px);
    border-bottom:var(--accentDarkBrownish-color) 5px;
    box-shadow: 5px 5px 5px var(--delfColor-color);
    
}
/* Hero Secttion Styles */
.hero-image{
    position: relative;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    
#heroImageHome{
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://milen714.github.io/web-markup/Img/CentralBack.jpg);
}
#heroImageShopping{
    background-position: center 30%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://milen714.github.io/web-markup/Img/ShopingBanner.jpg);
}
#heroImageSafety{
    background-position: center 43%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://milen714.github.io/web-markup/Img/SafetyBanner.jpg);
}
#heroImageRules{
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://milen714.github.io/web-markup/Img/RulesBanner.jpg);
}
#heroImageRepairs{
    background-position: center 30%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://milen714.github.io/web-markup/Img/windmill.jpg);
}
#heroImageContactUs{
    background-position: center 30%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://milen714.github.io/web-markup/Img/Contactusbanner2.jpg);

}


.heroMobile{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.heroTextMobile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    color: var(--mainColor-color);
    margin-bottom: 20px;

}
#imageHeroMobile{
    width: 100vw;
    height: 400px;
    
}
#imageHeroMobile3{
    width: 100vw;
    height: 400px;
}
#imageHeroMobile4{
    width: 100vw;
    height: 400px;
}
#imageHeroMobile5{
    width: 100vw;
    height: 400px;
}
#imageHeroMobile6{
    width: 100vw;
    height: 400px;
}





.hero-text{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -39%);
    color: white;
}

    
.CTAButtons{
    margin-top: 25px;
    padding: 10px 20px;
    background-color: var(--darkBabyBlue-color);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    font-family: "Alata", sans-serif;
    font-weight: 900;
    text-decoration: none;
    border-bottom:var(--accentDarkBrownish-color) 5px;
    box-shadow: 5px 5px 0 0 black;
    position: relative;
}
.CTAButtons::after{
    position: absolute;
    content: "";
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--BronzeColor-color);
    transition: 300ms linear;
}
.CTAButtons:hover{
    background-color: transparent;
    box-shadow: -5px -5px 0 0 black;
    
}
.CTAButtons:hover::after{
    opacity: 1;
}
/* Welcome Section Styles */

.welcome-section{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--mainColor-color);
}
#shopbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.sectioncentring{
    width: 80%;    
}
.sectioncentring header:nth-child(2){
    max-width: 100vw;
}
.sectioncentring a{
    float: left;
    
    color: black;
    text-decoration: underline;
    font-family: "Alata", sans-serif;
    font-size: 1em;
    font-weight: 400;
}
.sectioncentring a:nth-child(2){
    float: right;
}
.sectioncentring p:nth-child(1){
    margin-bottom: 23px;
}
.sectioncentring p:nth-child(4){
    margin-top: 46px;
    text-align: center;   
}
/* Detail page content styles */
.content1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px 121px;
    justify-content: center;
}
.content1 header{
    padding: 0;
    margin: 45px 0 90px 0;
    text-align: center;
    color: white;
    width: 90vw;
    border-radius: 10px;
    background-color: var(--mainColor-color);
}
#new #newbuying{
    margin: 0 0 90px 0;
}


.mission .sectioncentring{
    align-items: center;
}
.mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: var(--mainColor-color);
}
.mission p{
    margin-bottom: 45px;
}
figcaption{
    font-size: 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    color: var(--mainColor-color);
}

.infoCardPic{
    width: 335px;
    height: 333.33px;
    border-radius: 10px;
    
} 
.mission-section__body{
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 0px 121px;   
}
.svgBackground{
    position: absolute;
    width: 95px;
    height: 95px;
    z-index: -1;
    background-repeat: no-repeat;
}
.infoCard{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    margin-bottom: 90px;
    width: 375px;
    height: 700px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(87, 126, 162, 0.50);
    backdrop-filter: blur(1px);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);     
}
.infoCard h3{
    margin-top: 5px;
    margin-bottom: 10px;
}
.infoCard :after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;    
}
/* contentpages locations top: -75px;
    left: 150px;*/
    /*img{
        animation: gog 5s infinite linear;
    }
    @keyframes gog {
        from{
          transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
        
    }  */
#svgHomePage1{
    bottom:  100px;
    left: 140px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/Wheel.svg);
}
#svgHomePage2{
    width: 54px;
    bottom:  100px;
    left: 165px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/Belasting.svg);
}
#svgHomePage3{
    bottom:  100px;
    left: 155px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/InjurySvg.svg);
}
#svgHomePage4{
    bottom:  100px;
    left: 145px;
    background-image:  url(https://milen714.github.io/web-markup/Img/Svgs/SpinniBoy.svg);
}
/*Shop page InfoCard Svgs*/

#shopP1, #shopP3, #shopP5{
    top: -115px;
    width: 95px;
    left: 140px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/Wheel.svg);
    background-color: rgba(255, 255, 255, 0);
}
#shopP2, #shopP4, #shopP6, #shopP8{
    top: -115px;
    width: 95px;
    left: 140px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/StroopWaffel.png);
    background-color: rgba(255, 255, 255, 0);
}
#elites{
    top: -115px;
    width: 95px;
    left: 140px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/Oatly.svg);
    background-color: rgba(255, 255, 255, 0);
}
/*Safety Page Svgs*/
#safety1, #safety2, #safety3, #safety4, #safety5, #safety6{
    top: -115px;
    width: 95px;
    left: 140px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/InjurySvg.svg);
    background-color: rgba(255, 255, 255, 0);
}
/*Rules Svgs*/
#rules1, #rules2, #rules3, #rules4, #rules5, #rules6, #rules7, #rules8{
    top: -115px;
    width: 95px;
    left: 180px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/Rules.svg);
    background-color: rgba(255, 255, 255, 0);
}
#rules1::before, #rules2::before, #rules3::before, #rules4::before, #rules5::before, #rules6::before, #rules7::before, #rules8::before{
    position: absolute;
    right: 38px;
    content:"sas";
    color: transparent;
    padding: 15px;
    padding-bottom: 90px;
    background: no-repeat;
    width: 90px;
    height: 90px;
    margin-right: 3px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/Belasting.svg);

}

/*Repairs Svgs*/
#repairs1, #repairs2, #repairs3, #repairs4, #repairs5, #repairs6, #repairs7{
    top: -115px;
    width: 95px;
    left: 140px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/SpinniBoy.svg);
    background-color: rgba(255, 255, 255, 0);
}

/* Contact page */
.contactInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}
.contactInfoContent{
    position: relative;
    margin-bottom: 45px;
    margin-top: 45px;
    width: 400px;
    height: 700px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    background-color: var(--infocardBlue-color);
}
.contactInfoContent header>h2{
    color: var(--mainColor-color);
    text-align: center;
}
#animatedLogo{
    position: absolute;
    z-index: -1;
    width: 429px;
    height: 320px;
    top: 375px;
}
.stroopwheels{
    width: 110px;
    height: 110px;
}
#frontWheel{
    position: absolute;
    top: 512px;
    left: 270px;
    z-index: -2;
}
#backWheel{
    position: absolute;
    top: 513px;
    left: 76px;
    z-index: -2;
}
fieldset{
    border: 0;
}

legend h2{
    color: var(--mainColor-color);
}
legend{
    padding: 20px; 
}
#mandatoryfields{
   float: right;
}
#mandatoryfields strong{
    font-size: 16px;
    font-style: italic;
}
.aster{
    font-size: 20px;
    color: rgb(175, 32, 32);
}
.forms{
    margin-bottom: 45px;
    border-style: solid;
    border-color: var(--infocardBlue-color);
    border-width: 2px;
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
    width: 400px;
    height: 700px;
}
label, input, textarea{
  display: block;
  background-color: white;
}
label{
    background-color: rgba(255, 255, 255, 0);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--mainColor-color);
    margin-top: 19px;
}
label:nth-child(2){
    margin-top: 0;
}
#title, #fname, #lname, #message, #phoneNumber, #email{
    border-radius: 10px;
    border-color: #306598;
    border: solid var(--delfColor-color) 2px;
    background: #bfbabe00;
    padding: 5px;
}
#message{
    width: 50%;
}


#submitbutton{
    margin-top: 25px;
    padding: 10px;
    background-color: var(--mainColor-color);
    color: white;
    box-shadow: -5px -5px 4px 0px #306598;
    border-radius: 10px;
    float: right;
    font-family: "Alata", sans-serif;
    font-weight: 900;
    font-size: 16px;
    border: 0;
}
#submitbutton::before{
    content:"saS";
    color: transparent;
    width: 64px;
    height: 30px;
    margin-right: 3px;
    padding-right: 43px;
    padding-bottom: 5px;
    background-size: cover;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/BackfietsSvg.svg);
}
#submitbutton:hover{
    background-color: green;
    box-shadow: 5px 5px 4px 0px rgb(39, 225, 39);
    transition: ease-in 500ms;
}

/* footer */
footer{
    display: grid;
    grid-template-rows: 50% 30% 20%;
    grid-template-columns: 80% 20%;
    
    background-color: var(--mainColor-color);
    
}
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-bottom{
    margin-top: 25px;
    grid-row: 1;
}
.side-socials
{
    grid-row: 1;
    text-align: end;
    margin: 25px;  
}
.socials-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
aside a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 16px;
    font-family: "Alata", sans-serif;
    border: none;
    padding: 10px 20px;
}
#instagram::before{
    content:"saS";
    color: transparent;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    padding-bottom: 3px;
    background-size: cover;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/Instagram.svg);
}
#twitter::before{
    content:"sas";
    color: transparent;
    width: 24px;
    height: 26px;
    margin-right: 3px;
    padding-bottom: 2px;
    background-image:  url(https://milen714.github.io/web-markup/Img/Svgs/SocialTwitter.svg);
}
#reddit::before{
    content:"sas";
    color: transparent;
    width: 24px;
    height: 26px;
    margin-right: 3px;
    padding-bottom: 2px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/Reddit.svg);
}
.rights{
    margin: 0;
    grid-row:3;
    color: white;
}
strong{
    font-size: 9px;
    font-style: italic;
}
.cookies{
    position: absolute;
    bottom: 20px;
    left: 0%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp{
    position: relative;
    width: 95px;
    height: 95px;
    background-image: url(https://milen714.github.io/web-markup/Img/Svgs/Cookies.svg);
}
.popUp p{
    position: absolute;
    top: 37px;
    left: 0;
    color: var(--mainColor-color);
    text-align: center;
    text-indent: 0;
    line-height: 7px;
}



@media only screen and (min-width: 769px){
    .heroMobile{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .hero-text h2{
        font-size: 1.4em;
    }
    #shopbuttons{
        display: block;
    }
    .mission-section__body{
        flex-direction: column;
    }
    footer{
        grid-template-columns: 100%;
    }
    .side-socials{
        grid-row: 2;
    }
    .socials-list{
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    .contactInfoContent{
        margin-bottom: 0;
        border-radius: 10px;
    }
    .forms{
        margin-top: 0;
        border-radius: 10px;
        
    }
    .hero-image{
        display: none;
    }
    .cookies{
        bottom: 32%;
        left: 37%;
    }
    
}
@media screen and (max-width: 450px){
    .cookies{
        bottom: 27%;
        left: 37%;
    }
}
@media screen and (max-width: 330px){
    .cookies{
        bottom: 15%;
        left: 37%;
    }
}


